<h1>Edit User: {{username}}</h1>

<form action="/users/{{_id}}" method="post">
  <label for="username">Username:</label>
  <input type="text" name="username" value="{{username}}" required />

  <label for="email">Email:</label>
  <input type="email" name="email" value="{{email}}" required />

  <label for="password">Password:</label>
  <input type="password" name="password" />

  <button type="submit">Save Changes</button>
</form>

<a href="/users/{{_id}}">Cancel</a>