<h1>Measurement Detail</h1>
<h2>{{ mode }}</h2>
<p><strong>Place:</strong> {{measurement.place}}</p>
<p><strong>Date:</strong> {{formatDate measurement.date "DD MM YYYY"}}</p>
<p><strong>Value:</strong> {{measurement.value}}</p>
<p><strong>Type:</strong> {{measurement.type}}</p>
<h1>User: {{measurement.user.username}}</h1>

{{#if messages.error}}
<div class="alert alert-danger" role="alert">
    {{messages.error}}
</div>
{{/if}}