<h1>All Measurements</h1>
{{#if measurements}}
<ul>
    {{#each measurements}}
   
    <li>{{this.place}} - {{this.date}} - {{this.value}} - {{this.type}}</li>
     <a href="/measurements/{{this._id}}">View Details</a>
    {{/each}}
</ul>
{{else}}
<p>No measurements found.</p>
{{/if}}

{{#if messages.error}}
  <div class="alert alert-danger" role="alert">
    {{messages.error}}
  </div>
{{/if}}