<h2>Measurements</h2>
<h3> {{message}} </h3>
{{#if user}}
current user : {{user}}
{{ else }}
current user: unknown
{{/if}}

<a href="/create">Add new Measurement</a>
<ul>
  {{#each measurements}}
    <li>
      <b>Place:</b> {{place}} | <b>Date:</b> {{date}} | <b>Value:</b> {{value}} | <b>Type:</b> {{type}}
      {{#if loggedInUser._id === user._id}}
        <a href="/measurements/{{_id}}/edit">Edit</a>
        <a href="/measurements/{{_id}}/delete">Delete</a>
      {{/if}}
    </li>
  {{/each}}
</ul>
{{!-- <table>
    <p></p>
    <thead>
        <tr>
            <th>Place</th>
            <th>Date</th>
            <th>Value</th>
            <th>Type</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each measurements }}
        <tr>
            <td>{{this.place}}</td>
            <td>{{this.date}}</td>
            <td>{{this.value}}</td>
            <td>{{this.type}}</td>
            <td><a href="/update/{{this.id}}">Edit</a></td>
            {{#if ../user.username }}<td><a href="/measurement/update/{{this.:id}}"></a></td>{{/if}}
            {{#if ../user.username }}<td><a href='/measurement/delete/{{this.:id}}'>remove</a></td>{{/if}}
        </tr>
        {{/each}}
    </tbody>
</table> 
--}}