<h1>All Measurements</h1>
<h3>{{message}}</h3>
{{#if acrobat}}
<ul>
    {{#each acrobat }}
   
    <li>{{this.place}} &#10073; {{formatDate this.date "DD MM YYYY"}} &#10073; {{this.value}} &#10073; {{this.type}} </li>
    &#10073; <a href="/measurement/{{this._id}}">View Details</a><br><br>
    {{/each}}
</ul>
{{else}}
<p>No measurements found.</p>
{{/if}}

{{#if messages.error}}
  <div class="alert alert-danger" role="alert">
    {{messages.error}}
  </div>
{{/if}}